
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<h1>To Do List</h1>
<body>
    <div django-app="TaskManager">        
        <div container>
            <div class="content">
                <form action="" method="post"> {% csrf_token %}
                    <div class="inputContainer">
                        <input type="text" id="description" class="taskName" placeholder="Add to-do item" name="description" required>
                        <label for="description">Add To Do Item and Due Date</label>
                    </div>
                    
                    <div class="inputContainer">
                        <input type="date" id="dueDate" class="taskDate" name="date">
                        <label for="dueDate"></label>
                    </div>

                    <div class="row">
                        <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                        <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                    </div>

                    <ul class="lines"></ul>
                    <ul class="taskList">
                        {% for i in all_items %}
                            <li class="taskItem">
                                <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ i.id }}" value="{{ i.id }}">
                                <label for="{{ i.id }}"><span class="complete-">{{ i.title }}</span></label>
                                <strong class="taskDate"><i class="fa fa-pencil-square-o"></i> Task created on: {{ i.created }} --- End by: {{ i.due_date }}</strong>
                            </li>
                        {% endfor %}
                    </ul>
                </form>  
                
            </div>
        </div>
    </div>
</body>

 
</html>

